
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
    text-decoration: none;
    list-style: none;
}

body {
    background-color: #30336b;
    min-height: 100vh;
    display: flex;
    align-items: center;
}

/*.pricing-table {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: min(1600px,100%);
    margin: auto;
}
*/
.pricing-card {
    flex: 1;
    max-width: 360px;
    background-color: #fff;
    margin: 10px 10px;
    text-align: center;
    /*padding-left:10px;*/
    cursor: pointer;
    overflow: hidden;
    color: #2d2d2d;
/*    transition: 0.3s linear;
*/}

.pricing-card-header {
    /*    background-color: #0fbcf9;
   
*/ display: inline-block;
    color: #c1c1c1;
    text-align: center;
    margin-top:40px;
    margin-bottom:5px;
    /*    border-radius: 0 0 20px 20px;
*/ font-size: 10px;
    text-transform: uppercase;
/*    font-weight: 600;
*/    /*transition: 0.4s linear;*/
}

/*.pricing-card:hover .pricing-card-header {
    box-shadow: 0 0 0 26em #0fbcf9;
}
*/
.price {
    font-size: 70px;
    color: #191e1d;
/*    margin: 5px 0;
*/    transition: 0.2s linear;
}

    .price sup,
    .price span {
        font-size: 22px;
        font-weight: 600;
    }

/*.pricing-card:hover,
.pricing-card:hover .price {
    color: #fff;
}*/

.pricing-card li {
    font-size: 13px;
    padding: 10px 0;
    text-transform: uppercase;
}

.order-btn {
    /*display: inline-block;*/
    margin-bottom: 40px;
    margin-top: 25px;
    /*border: 2px solid #0fbcf9;
    color: #0fbcf9;*/
    /*margin-left:20%;*/
    /*padding: 18px 40px;*/
    border-radius:20px;
    width:180px;
    /*text-transform: uppercase;
       
    font-weight: 500;
    transition: 0.3s linear;
}

    .order-btn:hover {
        background-color: #0fbcf9;
        color: #fff;*/
    }

li {
    text-align: left;
    margin-left: 20px;
}

@media screen and (max-width: 1100px) {
    .pricing-card {
        flex: 50%;
    }
}
