
<html lang="ar" dir="rtl">
<head>

    <meta http-equiv="Content-Language" content="ar">
    <meta http-equiv="content-Type" content="text/html; charset=UTF-8" />
    <meta charset="UTF-8" />

    <!--IE Compatibility Meta-->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!--Mobile Meta-->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- CSS -->
    <link rel="stylesheet" href="https://www.coursat.org/assets/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://www.coursat.org/assets/css/bootstrap.rtl.css" />
    <link rel="stylesheet" href="https://www.coursat.org/assets/css/font-awesome.min.css" />
    <link rel="stylesheet" href="https://www.coursat.org/assets/css/style.css" />

    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="https://www.coursat.org/images/favicon.png">
    <link rel="icon" type="image/x-icon" href="https://www.coursat.org/images/favicon.png" />

    <!--[if lt IE 9]>
    <script src="assets/js/html5shiv.min.js"></script>
    <script src="assets/js/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    

    <title>الأسئلة الشائعة - كورسات</title>

    <div class="container" style="direction:rtl">

        <div class="page faq">
            <h3>الأسئلة الشائعة</h3>

            <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">


                <div class="panel panel-default">
                    <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse-1" aria-expanded="true" aria-controls="collapse-1">
                        <div class="panel-heading" role="tab" id="heading-1" >
                            <h4 class="panel-title">
                                هل الدراسة في منصة كورسات بالمجان ؟
                            </h4>
                        </div>
                    </a>
                    <div id="collapse-1" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading-1">
                        <div class="panel-body">
                            نعم، جميع الكورسات الموجودة في منصة كورسات هي بالمجان وستبقى كذلك.
                        </div>
                    </div>
                </div>


                <div class="panel panel-default">
                    <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse-2" aria-expanded="true" aria-controls="collapse-2">
                        <div class="panel-heading" role="tab" id="heading-2">
                            <h4 class="panel-title">
                                هل تمنحون شهادات على إكمال الكورسات في منصة كورسات ؟
                            </h4>
                        </div>
                    </a>
                    <div id="collapse-2" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading-2">
                        <div class="panel-body">
                            نعم يتم منح العضو ( شهادة إكمال ) بعد التسجيل في كورس معين ومشاهدة جميع دروس الكورس والشهادة تكون معتمدة من منصة كورسات وهي شهادة غير رسمية، وبالتالي فهي غير معتمدة من أي جهة رسمية، محلية كانت أو خارجية، وفي المقابل بإمكانك إدراج شهادتك إلى سيرتك الذاتية لتثبت مهاراتك وقدراتك التي اكتسبتها من خلال التعلم الذاتي .
                        </div>
                    </div>
                </div>


                <div class="panel panel-default">
                    <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse-3" aria-expanded="true" aria-controls="collapse-3">
                        <div class="panel-heading" role="tab" id="heading-3">
                            <h4 class="panel-title">
                                كم عدد الكورسات التي يسمح لي أن التحق بها ؟
                            </h4>
                        </div>
                    </a>
                    <div id="collapse-3" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading-3">
                        <div class="panel-body">
                            ليس هناك عدد محدد. بإمكانك الالتحاق بقدر ما ترغب من الكورسات
                        </div>
                    </div>
                </div>


                <div class="panel panel-default">
                    <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse-4" aria-expanded="true" aria-controls="collapse-4">
                        <div class="panel-heading" role="tab" id="heading-4">
                            <h4 class="panel-title">
                                أنهيت دراسة كورس معين أين أجد شهادتي ؟
                            </h4>
                        </div>
                    </a>
                    <div id="collapse-4" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading-4">
                        <div class="panel-body">
                            بعد التسجيل في كورس معين و مشاهدة جميع دروس الكورس سيصلك بريد إلكتروني بشكل مباشر يحتوي على رابط للشهادة، وأيضاً يمكنك الوصول إلى جميع شهاداتك التي حصلت عليها في الموقع من خلال صفحة ( كورساتي ) : https://www.coursat.org/my-courses
                        </div>
                    </div>
                </div>


                <div class="panel panel-default">
                    <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse-5" aria-expanded="true" aria-controls="collapse-5">
                        <div class="panel-heading" role="tab" id="heading-5">
                            <h4 class="panel-title">
                                كيفية يمكنني التسجيل في منصة كورسات ؟
                            </h4>
                        </div>
                    </a>
                    <div id="collapse-5" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading-5">
                        <div class="panel-body">
                            يمكنك التسجيل بمنصة كورسات بخطوات بسيطة جداً من خلال صفحة التسجيل التي يمكنك الوصول أليها عبر الضغط على زر ( التسجيل ) الموجود في الشريط العلوي في الموقع ثم يمكنك بعدها الالتحاق بالكورسات الموجودة في المنصة
                        </div>
                    </div>
                </div>


                <div class="panel panel-default">
                    <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse-6" aria-expanded="true" aria-controls="collapse-6">
                        <div class="panel-heading" role="tab" id="heading-6">
                            <h4 class="panel-title">
                                أنهيت مشاهدة كورس كامل ولم أحصل على شهادة، لماذا ؟
                            </h4>
                        </div>
                    </a>
                    <div id="collapse-6" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading-6">
                        <div class="panel-body">
                            تأكد من مشاهدة جميع دروس الكورس وظهور أيقونة التشغيل بجانب كل درس باللون الأخضر.
                        </div>
                    </div>
                </div>


                <div class="panel panel-default">
                    <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse-7" aria-expanded="true" aria-controls="collapse-7">
                        <div class="panel-heading" role="tab" id="heading-7">
                            <h4 class="panel-title">
                                قمت بالتسجيل في المنصة ، كيف يمكنني الالتحاق بكورس معين ؟
                            </h4>
                        </div>
                    </a>
                    <div id="collapse-7" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading-7">
                        <div class="panel-body">
                            بعد التسجيل في المنصة تجد في صفحة الكورس على اليسار زر ( التحق بالكورس الآن ! ) بمجرد الضغط عليه تكون قد سجلت في الكورس
                        </div>
                    </div>
                </div>


                <div class="panel panel-default">
                    <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse-8" aria-expanded="true" aria-controls="collapse-8">
                        <div class="panel-heading" role="tab" id="heading-8">
                            <h4 class="panel-title">
                                هل بإمكاني الالتحاق بكورس قد بدء بالفعل ؟
                            </h4>
                        </div>
                    </a>
                    <div id="collapse-8" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading-8">
                        <div class="panel-body">
                            لا يرتبط نظام الالتحاق بالكورسات على المنصة بمواعيد محددة، وبالمجمل فإنه يمكنك الالتحاق بأي كورس موجود على المنصة في أي وقت تريده
                        </div>
                    </div>
                </div>


                <div class="panel panel-default">
                    <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse-9" aria-expanded="true" aria-controls="collapse-9">
                        <div class="panel-heading" role="tab" id="heading-9">
                            <h4 class="panel-title">
                                ما هو كود التحقق المطبوع أسفل الشهادة ؟
                            </h4>
                        </div>
                    </a>
                    <div id="collapse-9" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading-9">
                        <div class="panel-body">
                            كود التحقق هو كود يتم طباعته اسفل الشهادة لضمان عدم تزوير شهادات المنصة ويمكنك التحقق من صحة الشهادة عبر المنصة من صفحة التحقق : https://www.coursat.org/verify
                        </div>
                    </div>
                </div>


                <div class="panel panel-default">
                    <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse-10" aria-expanded="true" aria-controls="collapse-10">
                        <div class="panel-heading" role="tab" id="heading-10">
                            <h4 class="panel-title">
                                هل يمكنني تغيير اسمي المطبوع على الشهادة ؟
                            </h4>
                        </div>
                    </a>
                    <div id="collapse-10" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading-10">
                        <div class="panel-body">
                            نعم يمكنك تغيير اسمك المطبوع على الشهادة وتغييره في المنصة بشكل عام من خلال صفحة إعدادات الحساب : https://www.coursat.org/account
                        </div>
                    </div>
                </div>


                <div class="panel panel-default">
                    <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse-11" aria-expanded="true" aria-controls="collapse-11">
                        <div class="panel-heading" role="tab" id="heading-11">
                            <h4 class="panel-title">
                                هل يمكنني الانسحاب من كورس قمت بالتسجيل فيه ؟
                            </h4>
                        </div>
                    </a>
                    <div id="collapse-11" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading-11">
                        <div class="panel-body">
                            نعم يمكن الانسحاب من التسجيل في أي كورس في المنصة، وذلك في أي وقت تريد
                        </div>
                    </div>
                </div>


                <div class="panel panel-default">
                    <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse-12" aria-expanded="true" aria-controls="collapse-12">
                        <div class="panel-heading" role="tab" id="heading-12">
                            <h4 class="panel-title">
                                ماذا يتيح لي الالتحاق بكورس داخل المنصة ؟
                            </h4>
                        </div>
                    </a>
                    <div id="collapse-12" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading-12">
                        <div class="panel-body">
                            يتيح لك الالتحاق بالكورس عبر المنصة متابعتك للكورس وطرح أسألتك واستفساراتك حول الكورس والحصول على شهادة إكمال عند الانتهاء منه
                        </div>
                    </div>
                </div>


                <div class="panel panel-default">
                    <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse-13" aria-expanded="true" aria-controls="collapse-13">
                        <div class="panel-heading" role="tab" id="heading-13">
                            <h4 class="panel-title">
                                لدي خبرات في مجال معين وأرغب في تقديم كورسات تعليمية من خلال منصة كورسات ؟
                            </h4>
                        </div>
                    </a>
                    <div id="collapse-13" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading-13">
                        <div class="panel-body">
                            إذا كنت تقوم بتدريس أو تدريب طلاب في تخصص معين ولديك الرغبة في نقل المحتوى التعليمي إلى جمهور أوسع ، فنحن في منصة كورسات نوفر لك هذه الميزة حيث نقوم بتوفير المنصة المناسبة لك لجعل العملية والبيئة التعليمية ممتعة وسهلة جداً ، رابط انضمام المدرسين : https://www.coursat.org/join-us
                        </div>
                    </div>
                </div>


            </div>

        </div>

    </div>

    <!-- Footer -->

   

</body>

</html>

<!-- JavaScript -->
<script src="https://www.coursat.org/assets/js/jquery.min.js"></script>
<script src="https://www.coursat.org/assets/js/bootstrap.min.js"></script>
<script src="https://www.coursat.org/assets/js/rating.js"></script>
<script src="https://www.coursat.org/assets/js/plugins.js"></script>

<!--[if lt IE 9]>
<script src="https://www.coursat.org/assets/js/html5shiv.min.js"></script>
<script src="https://www.coursat.org/assets/js/respond.min.js"></script>
<![endif]-->
<!-- Google Analytics -->
<script>
    (function (i, s, o, g, r, a, m) {
        i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
            (i[r].q = i[r].q || []).push(arguments)
        }, i[r].l = 1 * new Date(); a = s.createElement(o),
            m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
    })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

    ga('create', 'UA-67489181-1', 'auto');
    ga('send', 'pageview');

</script>
<!-- END Google Analytics -->
